head
	meta(charset="utf-8")
	title Granit Group
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	meta(name="description",content="")
	meta(name="keywords",content="")
	meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
	meta(name="format-detection",content="telephone=no")
	//fonts
	link(rel="stylesheet",href="fonts/stylesheet.css")
	// main CSS
	link(rel="stylesheet",href="css/styles.css")
	style.
		.temp-container {
			margin: auto;
			padding: 0 20px;
		}
		@media only screen and (min-width: 1201px){
			.temp-container {
				width: 1200px;
			}
		}
		.temp-page {
			padding: 30px 0 50px;
		}
		.temp-page__caption {
			margin-bottom: 50px;
			font-size: 52px;
			text-transform: uppercase;
		}
		.temp-page__caption .temp-title {
			font-size: 5rem;
		}
		.temp-title {
			display: block;
			font-size: 2rem;
			margin-bottom: 1rem;
		}
		.heading-text {
			display: block;
			margin-bottom: 20px;
			font-style: italic;
		}