head
    meta(charset="utf-8")
    title Granit Group
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="description",content="")
    meta(name="keywords",content="")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="format-detection",content="telephone=no")
    //fonts
    link(rel="stylesheet",href="fonts/stylesheet.css")
    //plugin perfect scrollbar - https://github.com/noraesae/perfect-scrollbar
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.css")
    // main CSS
    link(rel="stylesheet",href="css/styles.css")
