script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script.
    window.jQuery || document.write('<script src="vendor/js/jquery.min.js"><\/script>')
script(src="js/old-browser.js")
//GSAP animation - CDN links
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js")
//plugin perfect scrollbar - https://github.com/noraesae/perfect-scrollbar
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/js/perfect-scrollbar.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js")
script(src="js/script.js")
//script(src="js/main.js")
