/*!-----------------------------
  Link styling and modifiers
-------------------------------*/
link
  transition: all .2s ease-out
link-bordered
  padding-bottom: 1px
  line-height: 1.5
  border-bottom: 1px solid transparent
