/*!--------------------------------
  Logo with background styling
----------------------------------*/
.logo
  display: inline-block
  vertical-align middle
  user-select none
  &__content, &__image
    display: inline-block
    vertical-align middle
  &__heading
    display: block
