/*!-------------------------------------------
     Custom styling for swiper slider
---------------------------------------------*/
.swiper-container
  width: 100%
  height: 100%
.swiper-wrapper
  z-index: 2
.swiper-slide
  img
    max-width: 100%
    height: auto
    vertical-align: middle

.swiper-pagination
  text-align: center
.swiper-pagination-bullet
  size(10px)
  background transparent
  border: 2px solid #fff
  opacity: 1
.swiper-pagination-bullet-active
  background #fff


.swiper-button-next, .swiper-button-prev
  background-image: none
  right: auto
  left: auto
  position: inherit
  top: auto
  width: inherit
  height: inherit
  margin-top: inherit
  z-index: inherit
  cursor: pointer;
  background-size: inherit
  background-position: inherit
  background-repeat: inherit