extends _layouts/default
block page
	.section.js-page
		.inner
			h2 Список страниц
			ul
				li: a(href="promo.html") Промо страница
				li: a(href="menu.html") Общее меню (фиксированное меню по клику на кнопку-гамбургер)
				li: a(href="nav.html") Навигация (страница навигации)
				li: a(href="nav-active.html") Навигация - активные пункты
				li: a(href="nav-one.html") Навигация - один активный пункт
				li: a(href="contacts.html") Контакты
				li: a(href="about.html") О нас
				li: a(href="about-us.html") Компания в лицах
				li: a(href="main.html") Главная страница
				li: a(href="catalog-stone.html") Каталог камня
				li: a(href="catalog-stone-additional.html") Каталог камня - добавленные пункты в разметке
				li: a(href="catalog-page1.html") Каталог камня - страница камня
				li: a(href="catalog-page2.html") Каталог камня - камин из камня
				li: a(href="catalog-page2-2.html") Каталог камня - камин из камня - без доп. текста
				li: a(href="catalog-page3.html") Каталог камня - подоконник из мрамора
				li: a(href="catalog-page4.html") Каталог камня - мрамор
				li: a(href="products-stone.html") Изделия из камня
				li: a(href="products-stone-additional.html") Изделия из камня - добавленные пункты в разметке
				li: a(href="products-page1.html") Изделия из камня - камины
				li: a(href="products-page2.html") Изделия из камня - подоконники
				li: a(href="portfolio.html") Портфолио
				li: a(href="portfolio-page1.html") Портфолио - изделия в интерьере
				li: a(href="portfolio-page2.html") Портфолио - ландшафт
				li: a(href="portfolio-page3.html") Портфолио - фасады
				li: a(href="portfolio-page4.html") Портфолио - страница - камин из известняка
				li: a(href="services.html") Услуги
				li: a(href="services-additional.html") Услуги - добавленные пункты в разметке
				li: a(href="services-page1.html") Услуги - фасалы
				li: a(href="services-page2.html") Услуги - сланцевая кровля
				li: a(href="services-page3.html") Услуги - облицовка страничка
				li.divider: hr
				li: h2 Мобильные страницы
				li: a(href="menu-mobile.html") Общее меню - мобильный
				li: a(href="nav-mobile.html") Навигация - мобильный
				li: a(href="contacts-mobile.html") Контакты - мобильный
				li: a(href="about-mobile.html") О нас - мобильный
				li: a(href="about-us-mobile.html") Компания в лицах - мобильный
				li: a(href="main-mobile.html") Главная страница - мобильный
				li: a(href="catalog-stone-mobile.html") Каталог камня - мобильный
				li: a(href="catalog-page1-mobile.html") Каталог камня - страница камня - мобильный
				li: a(href="catalog-page2-mobile.html") Каталог камня - камин из камня - мобильный
				li: a(href="catalog-page3-mobile.html") Каталог камня - подоконник из мрамора - мобильный
				li: a(href="catalog-page4-mobile.html") Каталог камня - мрамор - мобильный
				li: a(href="products-stone-mobile.html") Изделия из камня - мобильный
				li: a(href="products-page1-mobile.html") Изделия из камня - камины - мобильный
				li: a(href="products-page2-mobile.html") Изделия из камня - подоконники - мобильный
				li: a(href="portfolio-mobile.html") Портфолио - мобильный
				li: a(href="portfolio-page1-mobile.html") Портфолио - изделия в интерьере - мобильный
				li: a(href="portfolio-page2-mobile.html") Портфолио - ландшафт - мобильный
				li: a(href="portfolio-page3-mobile.html") Портфолио - фасады - мобильный
				li: a(href="portfolio-page4-mobile.html") Портфолио - страница - камин из известняка - мобильный
				li: a(href="services-mobile.html") Услуги - мобильный
				li: a(href="services-page1-mobile.html") Услуги - фасалы - мобильный
				li: a(href="services-page2-mobile.html") Услуги - сланцевая кровля - мобильный
				li: a(href="services-page3-mobile.html") Услуги - облицовка страничка- мобильный

