extends _layouts/default-mobile
block page
	main.container
		.page
			.section.section_page.primary_blue
				.header
					.header-image(style="background-image: url(images/img2.jpg);")
						.overlay
					h1.promo-text
						span Главная
					.bottom
						.bottom__content
							h3 Воплощаем самые #[span смелые идеи]
							p Практичность и эстетика от каменых элементов интерьера до полной отделки здания.
							p Выбирая нас, Вы получаете не только продукцию, соответствующую всем стандартам качества, но и с твердыми намерениями делаете первый шаг к воплощению своей мечты.
					.info
						.info__inner
							.info__num
								.info__content
									span.info__title 7 лет
									span.info__bottom на рынке
							.info__num
								.info__content
									span.info__title 50,000 м#[sup 2]
									span.info__bottom Камня ушло на проекты
							.info__num
								.info__content
									span.info__title 300
									span.info__bottom Реализованных объектов
				.slider.slider_main.swiper-container.js-slider-mobile
					.swiper-wrapper
						.swiper-slide.slider__item.slider__item_full-text
							.slider__image(style="background-image:url(images/slider-img2.jpg);")
							.slider__text
								.slider__text-container
									h6 Хотите подробности?
									p О некоторых наших проектах, с согласия клиентов, мы рассказали в портфолио.
						.swiper-slide.slider__item.slider__item_bottom-text
							.slider__image(style="background-image:url(images/slider-img3.jpg);")
							.slider__text
								.slider__text-container
									p Вы можете посмотреть на работу вашей потенциальной бригады в действии, до подписания договора.
						.swiper-slide.slider__item.slider__item_full-text
							.slider__image(style="background-image:url(images/slider-img4.jpg);")
							.slider__text
								.slider__text-container
									h6 Убедитесь в качестве.
									p Больше реализованных нами проектов в портфолио
					.arrows
						.next.swiper-button-next
							.arrow
						.prev.swiper-button-prev
							.arrow
				a.next-nav
					.next-nav__image
						.next-nav__img-src(style="background-image: url(images/img4.jpg);")
					.next-nav__text
						span Перейти к
						span Портфолио
				.promo-section
					.promo-section__content
						.promo-section__text
							h3 Мощное современное предприятие
							p Каждая наша работа особенная, создана специально для клиента. От элементов интерьера до каменной облицовки фасадов.
						.promo-section__text
							h3 Мы умеем делать:
							p Облицовку фасадов, цоколей, заборов, стен, полов, бассейнов, каминов, лестниц, а также фасонные изделия и многое другое.
					.slider.slider_project.swiper-container.js-slider-mobile
						.swiper-wrapper
							.swiper-slide.slider__item
								.item
									.item__icon
										img.highres(src="images/promo-icon1.png", alt="")
									.item__text
										| Возим камень со всего мира без посредников. Если Ваша мечта – редкий камень из Мадагаскара, мы привезем его для Вас.
							.swiper-slide.slider__item
								.item
									.item__icon
										img.highres(src="images/promo-icon2.png", alt="")
									.item__text
										| Мы постоянно повышаем квалифцикацию сотрудников, так как ни один станок не заменит мастерство рабочих.
							.swiper-slide.slider__item
								.item
									.item__icon
										img.highres(src="images/promo-icon3.png", alt="")
									.item__text
										| На нашем предприятии – только высокоточное итальянское оборудование и свой склад.
						.arrows
							.next.swiper-button-next
								.arrow
							.prev.swiper-button-prev
								.arrow
				a.next-nav.next-nav_sm
					.next-nav__image
						.next-nav__img-src(style="background-image: url(images/img16.jpg);")
					.next-nav__text
						span Перейти к
						span Услугам
				.area.area_gallery
					.area__item.area__item_brand.area__item_brand-abs
						h3 Огромный выбор #[span элитного камня]
					a.area__item.area__item_bg(href="", style="background-image:url(images/granit.jpg);")
						.area__caption #[span Гранит]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/mramor.jpg);")
						.area__caption #[span Мрамор]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/peschan.jpg);")
						.area__caption #[span Песчаник]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/slanec.jpg);")
						.area__caption #[span Сланец]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/kvarcit.jpg);")
						.area__caption #[span Кварцит]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/oniks.jpg);")
						.area__caption #[span Оникс]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/izvest.jpg);")
						.area__caption #[span Известняк]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/travertin.jpg);")
						.area__caption #[span Травертин]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/aglomerate.jpg);")
						.area__caption #[span Агломерат]
						.overlay-hover
						.circle
				.form
					.form__header
						h3 Украсьте ваш дом
						p Менеджер свяжется с вами в течение 2 часов для обсуждения подробностей вашего заказа
					.form__body
						form
							input.input(type="tel",placeholder="+7 XXX XXX XXXX")
							input.button_submit(type="submit",value="Заказать Звонок")
				a.next-nav
					.next-nav__image
						.next-nav__img-src(style="background-image: url(images/img7.jpg);")
					.next-nav__text
						span Перейти к
						span Изделиям
				.promo-inform
					.promo-inform__title
						h3 Проекты любой сложности
						p Мы не боимся эксклюзивных, сложных проектов, а наш инженерный отдел разработает решения, удовлетворяющие самым взыскательным требованиям.
					.promo-list
						ul
							li.title
								span Схема работы:
							li.icon.active
								i.icon_check-blue
								span.text
									span 1. Оставьте заявку
							li.icon
								i.icon_message-blue
								span.text
									span 2. Консультация.
									span Выезд на замеры
							li.icon
								i.icon_stone-blue
								span.text
									span 3. Подбор природного
									span камня
							li.icon
								i.icon_order-blue
								span.text
									span 4. Заключение
									span договора
							li.icon
								i.icon_stone2-blue
								span.text
									span 5. Обработка камня
							li.icon
								i.icon_montage-blue
								span.text
									span 6. Монтажные работы
				.form
					.form__header
						h3 Оставить заявку
						p Менеджер свяжется с Вами в течение 2 часов для обсуждения подробностей Вашего заказа
					.form__body
						form
							input.input(type="tel",placeholder="+7 XXX XXX XXXX")
							input.button_submit(type="submit",value="Заказать Звонок")
				.slider-caption
					h2 Посетите наш офис
					p #[strong В нашем офисном пространстве Вы можете:]
					ul
						li Посмотреть на образцы камня
						li Увидеть примеры наших работ
						li Пообщаться с менеджером
						li Задать любой вопрос
					.divider
					ul.list-unstyled
						li Санкт-Петербург
						li #[strong Белоостровская ул. 8, ]
						li #[strong БЦ «Ильич», офис 1121]
						li Пн-Пт: 10:00 – 18:00
				.slider.slider_project.slider_contacts.swiper-container.js-slider-mobile
					.swiper-wrapper
						.swiper-slide.slider__item
							.slider__image(style="background-image:url(images/slider-img1.jpg);")
						.swiper-slide.slider__item
							.slider__image(style="background-image:url(images/slider-img1.jpg);")
						.swiper-slide.slider__item
							.slider__image(style="background-image:url(images/slider-img1.jpg);")
					.arrows
						.next.swiper-button-next
							.arrow
						.prev.swiper-button-prev
							.arrow
				footer.footer
					.logo-card
						img(src="images/logo.svg", alt="logo")
						.text
							span.line
							span.title Камнеобрабатывающий завод  #[span в Санкт-Петербурге и Москве]
					.footer-map
						img(src="images/map-bg.jpg", alt="map")
					a.back-menu.js-menu-open(href=jv0)
						.back-text &laquo; Назад в меню
					.social-icons
						ul
							li
								a.facebook(href="", target="_blank", title="facebook")
									<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
									<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
							li
								a.instagram(href="", target="_blank")
									img(src="images/in.png", alt="instagram")
									img(src="images/in.png", alt="instagram")
							li
								a.vk(href="", target="_blank", title="vk")
									img(src="images/vk.png", alt="vk")
									img(src="images/vk.png", alt="vk")
			a.logo-icon.light(href="main-mobile.html")
				.logo-icon__up GG #[span]
				.logo-icon__bottom.js-menu-open
					span
					span
					span
					span
		//menu
		.menu.js-mobile-menu
			.menu__container
				a.logo-icon(href="main-mobile.html")
					.logo-icon__up GG #[span]
				ul.menu__list
					li: a(href=""): span О нас
					li: a(href=""): span Компания в лицах
					li: a(href=""): span Портфолио и услуги
					li: a(href=""): span Оплата и доставка
					li: a(href=""): span Гарантия
					li: a(href=""): span История
				.info
					p Санкт-Петербург, Белоостровская ул. 8,
					p БЦ «Ильич», офис 1121 (Пн-Пт: 10:00–18:00)
					p телефон:  #[a(href="tel:78124071679") +7 812 407 16 79]
					p почта: #[a(href="mailto:sale@granit-group.ru") sale@granit-group.ru]
				.menu__close.js-menu-close
		#orientation
			h2 Упс
			.turn
				img(src="http://www.ortizleon.es/wp-content/themes/ortizleon/img/turn-mobile.png", alt="turn")
				h3 Поверните устройство
			.grid
				span
				span
				span
				span
