extends _layouts/default-mobile
block page
	main.container
		.page
			.section.section_page
			a.logo-icon.light(href="main-mobile.html")
				.logo-icon__up GG #[span]
				.logo-icon__bottom.js-menu-open
					span
					span
					span
					span
		.menu.js-mobile-menu.active
			.menu__container
				a.logo-icon(href="main-mobile.html")
					.logo-icon__up GG #[span]
				ul.menu__list
					li: a(href=""): span О нас
					li: a(href=""): span Компания в лицах
					li: a(href=""): span Портфолио и услуги
					li: a(href=""): span Оплата и доставка
					li: a(href=""): span Гарантия
					li: a(href=""): span История
				.info
					p Санкт-Петербург, Белоостровская ул. 8,
					p БЦ «Ильич», офис 1121 (Пн-Пт: 10:00–18:00)
					p телефон:  #[a(href="tel:78124071679") +7 812 407 16 79]
					p почта: #[a(href="mailto:sale@granit-group.ru") sale@granit-group.ru]
				.menu__close.js-menu-close
		#orientation
			h2 Упс
			.turn
				img(src="http://www.ortizleon.es/wp-content/themes/ortizleon/img/turn-mobile.png", alt="turn")
				h3 Поверните устройство
			.grid
				span
				span
				span
				span