extends _layouts/default-mobile
block page
	main.container
		.page
			.section_navigation(style="opacity: 1;")
				.nav(style="touch-action: pan-y;user-select: none;-webkit-user-drag: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);")
					.nav__item(style="visibility: inherit;left: -100vw;")
						.nav__image(data-name="main", style="background-image: url(images/img2.jpg);")
						.nav__bottom.primary-blue
							.nav__categories
								span.nav__subtitle Главная
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Главная
					.nav__item(style="visibility: inherit;left: 0;")
						.nav__image(data-name="catalog", style="background-image: url(images/img3.jpg);")
						.nav__bottom.primary-pink
							.nav__categories
								img(src="images/menu-icon1.png", alt="Каталог камня")
								span.nav__info Огромный выбор элитного камня
								span.nav__subtitle Каталог камня
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="z-index: 0;transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Каталог камня
					.nav__item(style="visibility: inherit;left: 100vw;")
						.nav__image(data-name="portfolio", style="background-image: url(images/img4.jpg);")
						.nav__bottom.primary-yellow
							.nav__categories
								img(src="images/menu-icon2.png", alt="Портфолио")
								span.nav__info Проекты любой сложности из элитного камня
								span.nav__subtitle Портфолио
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Портфолио
					.nav__item
						.nav__image(data-name="contacts", style="background-image: url(images/img5.jpg);")
						.nav__bottom.primary-blue
							.nav__categories
								img(src="images/menu-icon3.png", alt="Контакты")
								span.nav__subtitle Контакты
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Контакты
					.nav__item(style="visibility: inherit;left: 100vw;")
						.nav__image(data-name="fasad", style="background-image: url(images/img6.jpg);")
						.nav__bottom.primary-brown
							.nav__categories
								span.nav__info Более 300 успешно #[span выполненых объектов]
								span.nav__subtitle Фасады
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Фасады
					.nav__item
						.nav__image(data-name="inter", style="background-image: url(images/img7.jpg);")
						.nav__bottom.primary-blue
							.nav__categories
								span.nav__info Красота #[span природного камня]
								span.nav__subtitle Интерьер
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Интерьер
					.nav__item
						.nav__image(data-name="land", style="background-image: url(images/img8.jpg);")
						.nav__bottom.primary-green
							.nav__categories
								span.nav__info Более 300 успешно #[span выполненых объектов]
								span.nav__subtitle Ландшафты
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Ландшафты
					.nav__item
						.nav__image(data-name="tile", style="background-image: url(images/img9.jpg);")
						.nav__bottom.primary-brown
							.nav__categories
								span.nav__info Более 300 успешно #[span выполненых объектов]
								span.nav__subtitle Мощение
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Мощение
					.nav__item
						.nav__image(data-name="stone", style="background-image: url(images/img10.jpg);")
						.nav__bottom.primary-yellow
							.nav__categories
								img(src="images/menu-icon4.png", alt="Изделия")
								span.nav__info Элитный камень #[span индивидуальные проекты]
								span.nav__subtitle Изделия
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Изделия
					.nav__item
						.nav__image(data-name="window-sill", style="background-image: url(images/img11.jpg);")
						.nav__bottom.primary-pink
							.nav__categories
								span.nav__info 12 фасонных профелей
								span.nav__subtitle Подоконники
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Подоконники
					.nav__item
						.nav__image(data-name="tabletop", style="background-image: url(images/img12.jpg);")
						.nav__bottom.primary-blue
							.nav__categories
								span.nav__info около 900 образцов #[span природного камня]
								span.nav__subtitle Столешницы
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Столешницы
					.nav__item
						.nav__image(data-name="ladder", style="background-image: url(images/img13.jpg);")
						.nav__bottom.primary-pink
							.nav__categories
								span.nav__info Облицовка лестниц #[span и ступеней]
								span.nav__subtitle Лестницы
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Лестницы
					.nav__item
						.nav__image(data-name="fireplace", style="background-image: url(images/img14.jpg);")
						.nav__bottom.primary-pink
							.nav__categories
								span.nav__info около 900 образцов #[span природного камня]
								span.nav__subtitle Камины
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Камины
					.nav__item
						.nav__image(data-name="slate-roof", style="background-image: url(images/img15.jpg);")
						.nav__bottom.primary-yellow
							.nav__categories
								span.nav__info Практичность и красота
								span.nav__subtitle Кровля
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Кровля
					.nav__item(style="visibility: inherit;left: 100vw;")
						.nav__image(data-name="services", style="background-image: url(images/img16.jpg);")
						.nav__bottom.primary-pink
							.nav__categories
								img(src="images/menu-icon5.png", alt="Услуги")
								span.nav__info Профессиональные #[span работы по отделке]
								span.nav__subtitle Услуги
							a.nav__link(href="") Перейти к проекту
						a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
							span Услуги
				.nav__item
					.nav__image(data-name="about", style="background-image: url(images/img17.jpg);")
					.nav__bottom.primary-green
						.nav__categories
							span.nav__info Камнеобрабатывающее #[span предприятие]
							span.nav__subtitle О нас
						a.nav__link(href="") Перейти к проекту
					a.nav__title(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);opacity: 1;")
						span О нас
				.more-info
					a.link-phone(href="tel:78124071679") +7 812 407 16 79
					a.link-modal(href="#") Заказать звонок
				.grid
					span
					span
					span
				.arrows(style="opacity: 1;")
					.prev
						.arrow
					.next
						.arrow
				.nav-count(style="opacity: 1;") 2/16
		.menu
			.menu__container
				ul.menu__list
					li: a(href="", style="z-index: 55;"): span О нас
					li: a(href="", style="z-index: 55;"): span Компания в лицах
					li: a(href="", style="z-index: 55;"): span Портфолио и услуги
					li: a(href="", style="z-index: 55;"): span Оплата и доставка
					li: a(href="", style="z-index: 55;"): span Гарантия
					li: a(href="", style="z-index: 55;"): span История
				.logo-name Granit Group
				.info
					p Санкт-Петербург, Белоостровская ул. 8,
					p БЦ «Ильич», офис 1121 (Пн-Пт: 10:00–18:00)
					p телефон:  #[a(href="tel:78124071679") +7 812 407 16 79]
					p почта: #[a(href="mailto:sale@granit-group.ru") sale@granit-group.ru]
				.menu__close(style="z-index: 55;")
				.grid
					span
					span
					span
					span
			.logo-icon.light
				.logo-icon__up GG #[span]
				.logo-icon__bottom
					span
					span
					span
					span
		#orientation
			h2 Упс
			.turn
				img(src="http://www.ortizleon.es/wp-content/themes/ortizleon/img/turn-mobile.png", alt="turn")
				h3 Поверните устройство
			.grid
				span
				span
				span
				span