extends _layouts/default
block page
	main.container
		.page
			.section.section_page.section_side-nav.js-page(style="opacity:1;")
				.inner.primary_pink
					.inner__content
						.inner__page
							.side-nav
								.side-nav__inner
									.side-nav__caption.side-nav__caption_lg
										.side-nav__content
											h3 Камины
											p Изготовленные на нашем предприятии изделия, смогут придать Вашему дому красоту и богатство природного камня, чтобы именно  Ваш дом стал крепостью для Вас и Вашей семьи. Наша продукция  используется при строительстве частных домов, а так же объектов  государственного назначения.
									ul.side-nav__menu
										li.is-pink.active: a(href="") #[span Камины]
										li.is-blue: a(href="") #[span Подоконники]
										li.is-blue: a(href="") #[span Столешницы]
										li.is-pink: a(href="") #[span Лестницы]
							.area
								.area__item.area__item_md.area__item_light
									h3 Пример текста
									p Еще не надо текста. Больше, чем это количество не надо - ограничение по высоте. Изготовленные на нашем предприятии изделия, смогут придать Вашему дому красоту и богатство природного камня, чтобы именно  Ваш дом стал крепостью для Вас и Вашей семьи. Наша продукция  используется при строительстве частных домов, а так же объектов  государственного назначения.
								a.area__item.area__item_bg.area__item_xl(href="", style="background-image:url(images/product5.jpg);")
									.area__caption #[span Гранитные камины]
									.overlay-hover(style="opacity: 0;")
									.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
								a.area__item.area__item_md.area__item_bg(href="", style="background-image:url(images/product6.jpg);")
									.area__caption #[span Мраморные камины]
									.overlay-hover(style="opacity: 0;")
									.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
								.area__item.area__item_column.area__item_md
									a.area__item.area__item_bg(href="", style="background-image:url(images/product7.jpg);")
										.area__caption #[span Камин из Известняка]
										.overlay-hover(style="opacity: 0;")
										.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
									.area__item.area__item_promo
										span.area__icon
											<svg version="1.1" width="20px" height="20px" viewBox="0 0 20 20">
											<path d="M19.973,7.668c-0.066-0.201-0.238-0.345-0.447-0.378l-6.239-0.887L10.478,0.76c-0.094-0.189-0.287-0.308-0.497-0.308l0,0   c-0.209,0-0.402,0.119-0.497,0.312L6.714,6.425L0.475,7.352C0.265,7.385,0.093,7.529,0.027,7.73S0.019,8.153,0.171,8.296   l4.528,4.388l-1.047,6.215c-0.037,0.209,0.049,0.419,0.222,0.542c0.094,0.07,0.209,0.107,0.324,0.107   c0.09,0,0.177-0.021,0.259-0.066l5.57-2.951l5.587,2.919c0.082,0.041,0.168,0.062,0.255,0.062l0,0c0.304,0,0.554-0.25,0.554-0.554   c0-0.045-0.004-0.086-0.016-0.127l-1.08-6.178l4.499-4.413C19.985,8.091,20.039,7.87,19.973,7.668z M14.349,12.065   c-0.131,0.127-0.189,0.312-0.156,0.493l0.94,5.39l-4.852-2.533c-0.16-0.086-0.353-0.082-0.517,0l-4.836,2.561l0.907-5.398   c0.029-0.181-0.029-0.361-0.16-0.488L1.751,8.28l5.414-0.805c0.181-0.029,0.337-0.14,0.415-0.304l2.405-4.914l2.438,4.901   c0.082,0.164,0.238,0.275,0.419,0.304l5.418,0.772L14.349,12.065z"/>
											</svg>
										span.text У нас нет типовых решений, каждая работа особенная и создана для клиента
								.area__item.area__item_column.area__item_md
									.area__item.area__item_promo
										span.area__icon
											<svg version="1.1" width="20px" height="20px" viewBox="0 0 20 20">
											<path d="M19.973,7.668c-0.066-0.201-0.238-0.345-0.447-0.378l-6.239-0.887L10.478,0.76c-0.094-0.189-0.287-0.308-0.497-0.308l0,0   c-0.209,0-0.402,0.119-0.497,0.312L6.714,6.425L0.475,7.352C0.265,7.385,0.093,7.529,0.027,7.73S0.019,8.153,0.171,8.296   l4.528,4.388l-1.047,6.215c-0.037,0.209,0.049,0.419,0.222,0.542c0.094,0.07,0.209,0.107,0.324,0.107   c0.09,0,0.177-0.021,0.259-0.066l5.57-2.951l5.587,2.919c0.082,0.041,0.168,0.062,0.255,0.062l0,0c0.304,0,0.554-0.25,0.554-0.554   c0-0.045-0.004-0.086-0.016-0.127l-1.08-6.178l4.499-4.413C19.985,8.091,20.039,7.87,19.973,7.668z M14.349,12.065   c-0.131,0.127-0.189,0.312-0.156,0.493l0.94,5.39l-4.852-2.533c-0.16-0.086-0.353-0.082-0.517,0l-4.836,2.561l0.907-5.398   c0.029-0.181-0.029-0.361-0.16-0.488L1.751,8.28l5.414-0.805c0.181-0.029,0.337-0.14,0.415-0.304l2.405-4.914l2.438,4.901   c0.082,0.164,0.238,0.275,0.419,0.304l5.418,0.772L14.349,12.065z"/>
											</svg>
										span.text За 7 лет реализовано более 300 проектов с применением натурального камня
									a.area__item.area__item_bg(href="", style="background-image:url(images/product9.jpg);")
										.area__caption #[span Камин из Травертина]
										.overlay-hover(style="opacity: 0;")
										.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
								a.area__item.area__item_bg.area__item_xl(href="", style="background-image:url(images/product8.jpg);")
									.area__caption #[span Камины из Оникса]
									.overlay-hover(style="opacity: 0;")
									.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
								.area__item.area__item_column.area__item_md
									a.area__item.area__item_bg(href="", style="background-image:url(images/product10.jpg);")
										.area__caption #[span Камин из Сланца]
										.overlay-hover(style="opacity: 0;")
										.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
									.area__item.area__item_promo
										span.area__icon
											<svg version="1.1" width="20px" height="20px" viewBox="0 0 20 20">
											<path d="M19.973,7.668c-0.066-0.201-0.238-0.345-0.447-0.378l-6.239-0.887L10.478,0.76c-0.094-0.189-0.287-0.308-0.497-0.308l0,0   c-0.209,0-0.402,0.119-0.497,0.312L6.714,6.425L0.475,7.352C0.265,7.385,0.093,7.529,0.027,7.73S0.019,8.153,0.171,8.296   l4.528,4.388l-1.047,6.215c-0.037,0.209,0.049,0.419,0.222,0.542c0.094,0.07,0.209,0.107,0.324,0.107   c0.09,0,0.177-0.021,0.259-0.066l5.57-2.951l5.587,2.919c0.082,0.041,0.168,0.062,0.255,0.062l0,0c0.304,0,0.554-0.25,0.554-0.554   c0-0.045-0.004-0.086-0.016-0.127l-1.08-6.178l4.499-4.413C19.985,8.091,20.039,7.87,19.973,7.668z M14.349,12.065   c-0.131,0.127-0.189,0.312-0.156,0.493l0.94,5.39l-4.852-2.533c-0.16-0.086-0.353-0.082-0.517,0l-4.836,2.561l0.907-5.398   c0.029-0.181-0.029-0.361-0.16-0.488L1.751,8.28l5.414-0.805c0.181-0.029,0.337-0.14,0.415-0.304l2.405-4.914l2.438,4.901   c0.082,0.164,0.238,0.275,0.419,0.304l5.418,0.772L14.349,12.065z"/>
											</svg>
										span.text Мы сами обрабатываем камень на заводе с высокоточным итальянским оборудованием
								.area__item.area__item_column.area__item_md
									.area__item.area__item_promo
										span.area__icon
											<svg version="1.1" width="20px" height="20px" viewBox="0 0 20 20">
											<path d="M19.973,7.668c-0.066-0.201-0.238-0.345-0.447-0.378l-6.239-0.887L10.478,0.76c-0.094-0.189-0.287-0.308-0.497-0.308l0,0   c-0.209,0-0.402,0.119-0.497,0.312L6.714,6.425L0.475,7.352C0.265,7.385,0.093,7.529,0.027,7.73S0.019,8.153,0.171,8.296   l4.528,4.388l-1.047,6.215c-0.037,0.209,0.049,0.419,0.222,0.542c0.094,0.07,0.209,0.107,0.324,0.107   c0.09,0,0.177-0.021,0.259-0.066l5.57-2.951l5.587,2.919c0.082,0.041,0.168,0.062,0.255,0.062l0,0c0.304,0,0.554-0.25,0.554-0.554   c0-0.045-0.004-0.086-0.016-0.127l-1.08-6.178l4.499-4.413C19.985,8.091,20.039,7.87,19.973,7.668z M14.349,12.065   c-0.131,0.127-0.189,0.312-0.156,0.493l0.94,5.39l-4.852-2.533c-0.16-0.086-0.353-0.082-0.517,0l-4.836,2.561l0.907-5.398   c0.029-0.181-0.029-0.361-0.16-0.488L1.751,8.28l5.414-0.805c0.181-0.029,0.337-0.14,0.415-0.304l2.405-4.914l2.438,4.901   c0.082,0.164,0.238,0.275,0.419,0.304l5.418,0.772L14.349,12.065z"/>
											</svg>
										span.text Мы возим природный камень напрямую без посредников, со всех месторождений мира
									.area__item.area__item_empty
								.area__item.area__item_column.area__item_md
									a.area__item.area__item_bg(href="", style="background-image:url(images/product11.jpg);")
										.area__caption #[span Камины из Агломерата]
										.overlay-hover(style="opacity: 0;")
										.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
									a.area__item.area__item_bg(href="", style="background-image:url(images/product12.jpg);")
										.area__caption #[span Камины из Агломерата]
										.overlay-hover(style="opacity: 1;")
										.circle(style="transform: matrix(1, 0, 0, 1, 0, 0);")
								a.back-menu.animated(href="")
									.square-effect
										div(style="transform: matrix(1, 0, 0, 1, 0, 0);")
										div(style="transform: matrix(0, 0, 0, 1, 0, 0);")
									.back-text(style="opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);") &laquo; Назад в меню
					//grid
					.grid
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
		//menu
		include _modules/menu
		//toggle menu button
		.btn-toggle.light(style="opacity: 1;visibility: inherit;")
			svg(version="1.1", viewBox="0 0 64 30")
				rect#square-up(stroke-width="2" stroke-dasharray="25,19" stroke-dashoffset="0" x="2" y="2" width="26" height="17" style="stroke-dashoffset: 0px;")
				line#line-up(x1="11" y1="11" x2="64" y2="11" stroke-width="2" stroke-dasharray="53,30" stroke-dashoffset="0" style="stroke-dashoffset: 0px;")
				line#line-bottom(x1="2" y1="28" x2="36" y2="28" stroke-width="2" stroke-dasharray="25,34" stroke-dashoffset="-9" style="stroke-dashoffset: -9px;")
			span Меню
		//logo text
		.logo-title.light(style="opacity: 1;") Granit Group
