extends _layouts/default-mobile
block page
	main.container
		.page
			.section.section_page.primary_yellow
				.header
					.header-image(style="background-image: url(images/img10.jpg);")
						.overlay
					h1.promo-text
						span Изделия из камня
					.bottom.bottom_icon
						.bottom__content
							img.highres(src="images/menu-icon4.png", alt="")
							h3 Элитный камень. Индивидуальные проекты
							p От столешниц до полной отделки сложных комплексов
					.info
						.info__inner
							.info__num
								.info__content
									span.info__title 5 дней
									span.info__bottom средний срок выполнения заказа
							.info__num
								.info__content
									span.info__title 2 дня
									span.info__bottom средний срок выезда на замер
							.info__num
								.info__content
									span.info__title 7
									span.info__bottom высокоточных итальянских станков
				.area.area_gallery
					a.area__item.area__item_bg(href="", style="background-image:url(images/product1.jpg);")
						.area__caption #[span Столешницы]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/product2.jpg);")
						.area__caption #[span Подоконники]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/product3.jpg);")
						.area__caption #[span Лестницы]
						.overlay-hover
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/product4.jpg);")
						.area__caption #[span Камины]
						.overlay-hover
						.circle
				footer.footer
					a.back-menu.js-menu-open(href=jv0)
						.back-text &laquo; Назад в меню
					.social-icons
						ul
							li
								a.facebook(href="", target="_blank", title="facebook")
									<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
									<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
							li
								a.instagram(href="", target="_blank")
									img(src="images/in.png", alt="instagram")
									img(src="images/in.png", alt="instagram")
							li
								a.vk(href="", target="_blank", title="vk")
									img(src="images/vk.png", alt="vk")
									img(src="images/vk.png", alt="vk")
			a.logo-icon.light(href="main-mobile.html")
				.logo-icon__up GG #[span]
				.logo-icon__bottom.js-menu-open
					span
					span
					span
					span
		//menu
		.menu.js-mobile-menu
			.menu__container
				a.logo-icon(href="main-mobile.html")
					.logo-icon__up GG #[span]
				ul.menu__list
					li: a(href=""): span О нас
					li: a(href=""): span Компания в лицах
					li: a(href=""): span Портфолио и услуги
					li: a(href=""): span Оплата и доставка
					li: a(href=""): span Гарантия
					li: a(href=""): span История
				.info
					p Санкт-Петербург, Белоостровская ул. 8,
					p БЦ «Ильич», офис 1121 (Пн-Пт: 10:00–18:00)
					p телефон:  #[a(href="tel:78124071679") +7 812 407 16 79]
					p почта: #[a(href="mailto:sale@granit-group.ru") sale@granit-group.ru]
				.menu__close.js-menu-close
		#orientation
			h2 Упс
			.turn
				img(src="http://www.ortizleon.es/wp-content/themes/ortizleon/img/turn-mobile.png", alt="turn")
				h3 Поверните устройство
			.grid
				span
				span
				span
				span
