extends _layouts/default
block page
	main.container.nav-inactive
		.page(data-page="promo")
			.section.section_intro
				canvas.section-bg#canvas-main
				//grid
				.grid
					span
					span
					span
					span
					span
					span
				.promo-text
					.promo-text__top
						.promo-text__phrase
							h2 С твердыми намерениями!
							.promo-text__effect
								.promo-text__square
									.promo-text__inner С твердыми намерениями!
							.promo-text__effect
								.promo-text__square
									.promo-text__inner С твердыми намерениями!
							.promo-text__effect
								.promo-text__square
									.promo-text__inner С твердыми намерениями!
							.promo-text__effect
								.promo-text__square
									.promo-text__inner С твердыми намерениями!
							.promo-text__effect
								.promo-text__square
									.promo-text__inner С твердыми намерениями!
							.promo-text__effect
								.promo-text__square
									.promo-text__inner С твердыми намерениями!
					.promo-text__bottom
						h1
							span Камнеобрабатывающее предприятие
							span в Санкт-Петербурге и Москве
				.section__overlay
					.section__text
						.part
							h3 Мастерство
							span.line
						.part
							h3 Опыт
							span.line
						.part
							h3 Качество
							span.line
					.section__arrow.first
					.section__arrow.second
					.section__message
						span.line
						span.text
							span  Нажми чтобы продолжить
								b
					.button-nav
						.circle
						.text Меню
		//menu
		include _modules/menu
		//overlay for gradient bg
		.overlay(style="opacity: 1;visibility: inherit;")
		//toggle menu button
		.btn-toggle.light(style="visibility: hidden; opacity: 0;")
			svg(version="1.1", viewBox="0 0 64 30")
				rect#square-up(stroke-width="2" stroke-dasharray="25,19" stroke-dashoffset="0" x="2" y="2" width="26" height="17" style="stroke-dashoffset: 0px;")
				line#line-up(x1="11" y1="11" x2="64" y2="11" stroke-width="2" stroke-dasharray="53,30" stroke-dashoffset="0" style="stroke-dashoffset: 0px;")
				line#line-bottom(x1="2" y1="28" x2="36" y2="28" stroke-width="2" stroke-dasharray="25,34" stroke-dashoffset="-9" style="stroke-dashoffset: -9px;")
			span Меню
		//logo text
		.logo-title.light(style="visibility: hidden; opacity: 0;") Granit Group
		//logo image
		.logo-image
			img(src="images/logo.svg", alt="logo")