extends _layouts/default-mobile
block page
	main.container
		.page
			.section.section_page.primary_pink
				.header.header_page
					.header-caption
						.header-caption__content
							h3 Облицовка фасада  гранитом
							p Облицовка загородного дома гранитом, фактура скала. Технология - Мокрый способ.
					.slider.slider_project.swiper-container.js-slider-mobile
						.swiper-wrapper
							.swiper-slide.slider__item
								.slider__image(style="background-image:url(images/service12.jpg);")
							.swiper-slide.slider__item
								.slider__image(style="background-image:url(images/service12.jpg);")
							.swiper-slide.slider__item
								.slider__image(style="background-image:url(images/service12.jpg);")
						.arrows
							.next.swiper-button-next
								.arrow
							.prev.swiper-button-prev
								.arrow
				.area.area_gallery
					.area__item.area__item_white
						h3 Про гранитный фасад
						p При грамотной технике выполнения облицовка фасадов гранитом покоряет воображение не только изысканной россыпью красок и богатством фактуры, но и непередаваемой магией соприкосновения с классической традицией красоты, неподвластной тлену и в прямом, и в переносном смысле. Камнеобрабатывающее предприятие «Гранитъ» оперирует самыми качественными материалами и наиболее прогрессивными технологиями, утверждая в камне ваши заветные мечты.
						p Гранитный фасад неуязвим как для механических, так и биологических факторов коррозии. Механический износ, воздействие атмосферных осадков, ударные и температурные деформации проходят мимо, а для плесени и микроорганизмов гранит не представляет никакого интереса. Фасады, отделанные гранитом, имеют все шансы стать свидетелями истории нескольких поколений вашей семьи.
				.form
					.form__header
						h3 Нужен похожий  проект?
						p Менеджер свяжется с Вами в течение 2 часов для обсуждения подробностей Вашего заказа
					.form__body
						form
							input.input(type="tel",placeholder="+7 XXX XXX XXXX")
							input.button_submit(type="submit",value="Заказать Звонок")
				a.next-nav.next-nav_sm
					.next-nav__image
						.next-nav__img-src(style="background-image: url(images/img16.jpg);")
					.next-nav__text
						span Каталог
						span Гранит
				.area.area_gallery
					.area__item.area__item_brand
						h3.is-text-regular Технология работы
						p При грамотной технике выполнения облицовка фасадов гранитом покоряет воображение не только изысканной россыпью красок и богатством фактуры, но и непередаваемой магией соприкосновения с классической традицией красоты, неподвластной тлену и в прямом, и в переносном смысле. Камнеобрабатывающее предприятие «Гранитъ» оперирует самыми качественными материалами и наиболее прогрессивными технологиями, утверждая в камне ваши заветные мечты.
						p Гранитный фасад неуязвим как для механических, так и биологических факторов коррозии.
					.area__item.area__item_brand
						h3 Посмотрите наши работы и убедитесь в качестве
						p При нынешнем изобилии облицовочных материалов недолго растеряться, выбирая подходящий вариант для любимого дома. Но как только вопрос цены теряет актуальность, решение становится очевидным: только гранит!
					a.area__item.area__item_bg(href="", style="background-image:url(images/product14.jpg);")
						.area__caption #[span Облицовка фасада Мрамором]
						.overlay-hover(aria-haspopup="true")
						.circle
					a.area__item.area__item_bg(href="", style="background-image:url(images/product15.jpg);")
						.area__caption #[span Облицовка фасада Гранитом]
						.overlay-hover(aria-haspopup="true")
						.circle
					.area__item.area__item_dark
						ul
							li Облицовка Известняком
							li Облицовка Песчанником
							li Облицовка Сланцем
							li Облицовка Кварцитом
					.area__item.area__item_light
						h3 Как мы это сделали
						p Несколько фотографий о ходе подготовительных и монтажных работ с природным камнем.
				.slider.slider_project.swiper-container.js-slider-mobile
					.swiper-wrapper
						.swiper-slide.slider__item
							.slider__image(style="background-image:url(images/slider-img8.jpg);")
						.swiper-slide.slider__item
							.slider__image(style="background-image:url(images/slider-img8.jpg);")
						.swiper-slide.slider__item
							.slider__image(style="background-image:url(images/slider-img8.jpg);")
					.arrows
						.next.swiper-button-next
							.arrow
						.prev.swiper-button-prev
							.arrow
				.promo-list
					ul
						li.title
							span Схема работы:
						li.icon.active
							i.icon_check-red
							span.text
								span 1. Оставьте заявку
						li.icon
							i.icon_message-red
							span.text
								span 2. Консультация.
								span Выезд на замеры
						li.icon
							i.icon_stone-red
							span.text
								span 3. Подбор природного
								span камня
						li.icon
							i.icon_order-red
							span.text
								span 4. Заключение
								span договора
						li.icon
							i.icon_stone2-red
							span.text
								span 5. Обработка камня
						li.icon
							i.icon_montage-red
							span.text
								span 6. Монтажные работы
				.slider-caption
					h2 Приезжайте в гости
					p #[strong В нашем офисном пространстве Вы можете:]
					ul
						li Посмотреть на образцы камня
						li Увидеть примеры наших работ
						li Пообщаться с менеджером
						li Задать любой вопрос
					.divider
					ul.list-unstyled
						li Санкт-Петербург
						li #[strong Белоостровская ул. 8, ]
						li #[strong БЦ «Ильич», офис 1121]
						li Пн-Пт: 10:00 – 18:00
				footer.footer
					.footer-map
						img(src="images/map-bg.jpg", alt="map")
					.logo-card
						img(src="images/logo.svg", alt="logo")
						.text
							span.line
							span.title Камнеобрабатывающий завод  #[span в Санкт-Петербурге и Москве]
					a.back-menu.js-menu-open(href=jv0)
						.back-text &laquo; Назад в меню
					.social-icons
						ul
							li
								a.facebook(href="", target="_blank", title="facebook")
									<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
									<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
							li
								a.instagram(href="", target="_blank")
									img(src="images/in.png", alt="instagram")
									img(src="images/in.png", alt="instagram")
							li
								a.vk(href="", target="_blank", title="vk")
									img(src="images/vk.png", alt="vk")
									img(src="images/vk.png", alt="vk")
			a.logo-icon.light(href="main-mobile.html")
				.logo-icon__up GG #[span]
				.logo-icon__bottom.js-menu-open
					span
					span
					span
					span
		//menu
		.menu.js-mobile-menu
			.menu__container
				a.logo-icon(href="main-mobile.html")
					.logo-icon__up GG #[span]
				ul.menu__list
					li: a(href=""): span О нас
					li: a(href=""): span Компания в лицах
					li: a(href=""): span Портфолио и услуги
					li: a(href=""): span Оплата и доставка
					li: a(href=""): span Гарантия
					li: a(href=""): span История
				.info
					p Санкт-Петербург, Белоостровская ул. 8,
					p БЦ «Ильич», офис 1121 (Пн-Пт: 10:00–18:00)
					p телефон:  #[a(href="tel:78124071679") +7 812 407 16 79]
					p почта: #[a(href="mailto:sale@granit-group.ru") sale@granit-group.ru]
				.menu__close.js-menu-close
		#orientation
			h2 Упс
			.turn
				img(src="http://www.ortizleon.es/wp-content/themes/ortizleon/img/turn-mobile.png", alt="turn")
				h3 Поверните устройство
			.grid
				span
				span
				span
				span
