extends _layouts/default
block page
	main.container
		.page
			.section.section_page.js-page(style="opacity:1;")
				.inner.primary_pink
					.inner__content
						.header.header_page
							.header-caption
								.header-caption__content
									h3 Облицовка фасада  гранитом
									p Облицовка загородного дома гранитом, фактура скала. Технология - Мокрый способ.
							.slider.slider_page
								.slider__item(style="visibility:inherit;")
									.slider__image(style="transform: matrix(1, 0, 0, 1, 0, 0);")
										.slider__effect-img(style="transform: matrix(1, 0, 0, 1, 0, 0);")
											.slider__img-container(style="background-image:url(images/service12.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
								.slider__item
									.slider__image
										.slider__effect-img
											.slider__img-container(style="background-image:url(images/service12.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
								.arrows
									.next
										.arrow
									.prev
										.arrow(style="opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);")
									<svg version="1.1" viewBox="0 0 260 260"><circle cx="130" cy="130" r="120" style="opacity: 1; stroke-dashoffset: 326px;"></circle></svg>
						.area.is-padding-bottom
							.area__item.area__item_md.area__item_empty
							.area__item.area__item_xl.area__item_white
								h3 Про гранитный фасад
								p При грамотной технике выполнения облицовка фасадов гранитом покоряет воображение не только изысканной россыпью красок и богатством фактуры, но и непередаваемой магией соприкосновения с классической традицией красоты, неподвластной тлену и в прямом, и в переносном смысле. Камнеобрабатывающее предприятие «Гранитъ» оперирует самыми качественными материалами и наиболее прогрессивными технологиями, утверждая в камне ваши заветные мечты.
								p Гранитный фасад неуязвим как для механических, так и биологических факторов коррозии. Механический износ, воздействие атмосферных осадков, ударные и температурные деформации проходят мимо, а для плесени и микроорганизмов гранит не представляет никакого интереса. Фасады, отделанные гранитом, имеют все шансы стать свидетелями истории нескольких поколений вашей семьи.
							.form
								.form__header
									h3 Нужен похожий  проект?
									p Менеджер свяжется с Вами в течение 2 часов для обсуждения подробностей Вашего заказа
								.form__body
									form
										input.input(type="tel",placeholder="+7 XXX XXX XXXX")
										input.button_submit(type="submit",value="Заказать Звонок")
							.area__item.area__item_empty
							.area__item.area__item_empty
							a.next-nav.next-nav_sm.next-nav_abs(href="", style="transform: matrix(1, 0, 0, 1, 0, 0);")
								.next-nav__inner(style="transform: matrix(1, 0, 0, 1, 0, 0);")
									.next-nav__image
										.next-nav__img-src(style="background-image: url(images/img16.jpg);transform: matrix(1, 0, 0, 1, 0, 0)")
									.next-nav__text(style="transform: translate(0%, -50%) translate3d(0px, 0px, 0px);opacity: 1;")
										span(style="transform: matrix(1, 0, 0, 1, 28.8, 0);") Каталог
										span Гранит
										span(style="transform: matrix(1, 0, 0, 1, 0, 0);")
							.area__item.area__item_empty
						.area.is-padding-bottom
							.area__item.area__item_lg.area__item_brand
								h3.is-text-regular Технология работы
								p При грамотной технике выполнения облицовка фасадов гранитом покоряет воображение не только изысканной россыпью красок и богатством фактуры, но и непередаваемой магией соприкосновения с классической традицией красоты, неподвластной тлену и в прямом, и в переносном смысле. Камнеобрабатывающее предприятие «Гранитъ» оперирует самыми качественными материалами и наиболее прогрессивными технологиями, утверждая в камне ваши заветные мечты.
								p Гранитный фасад неуязвим как для механических, так и биологических факторов коррозии.
							.area__item.area__item_column.area__item_lg
								.area__item.area__item_md.area__item_brand
									h3 Посмотрите наши работы и убедитесь в качестве
									p При нынешнем изобилии облицовочных материалов недолго растеряться, выбирая подходящий вариант для любимого дома. Но как только вопрос цены теряет актуальность, решение становится очевидным: только гранит!
								.area__item.area__item_empty
							.area__item.area__item_column.area__item_lg
								.area__item.area__item_column.area__item_lg
									.area__item.area__item_empty
									a.area__item.area__item_bg(href="", style="background-image:url(images/product14.jpg);")
										.area__caption #[span Облицовка фасада Мрамором]
										.overlay-hover(style="opacity: 0;")
										.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
									.area__item.area__item_empty
							.area__item.area__item_column.area__item_lg
								.area__item.area__item_column.area__item_lg
									.area__item.area__item_empty
									.area__item.area__item_empty
									a.area__item.area__item_bg(href="", style="background-image:url(images/product15.jpg);")
										.area__caption #[span Облицовка фасада Гранитом]
										.overlay-hover(style="opacity: 0;")
										.circle(style="transform: matrix(0, 0, 0, 0, 0, 0);")
							.area__item.area__item_empty
							.area__item.area__item_empty
							.area__item.area__item_empty
							.area__item.area__item_dark
								ul
									li Облицовка Известняком
									li Облицовка Песчанником
									li Облицовка Сланцем
									li Облицовка Кварцитом
						.area.is-padding-bottom
							.area__item.area__item_md
								.area__item.area__item_light
								.area__item.area__item_light
									h3 Как мы это сделали
									p Несколько фотографий о ходе подготовительных и монтажных работ с природным камнем.
							.area__item.area__item_column.area__item_xl
								.slider.slider_page
									.slider__item(style="visibility:inherit;")
										.slider__image(style="transform: matrix(1, 0, 0, 1, 0, 0);")
											.slider__effect-img(style="transform: matrix(1, 0, 0, 1, 0, 0);")
												.slider__img-container(style="background-image:url(images/slider-img8.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
									.slider__item
										.slider__image
											.slider__effect-img
												.slider__img-container(style="background-image:url(images/slider-img8.jpg);transform: matrix(1, 0, 0, 1, 0, 0);")
									.arrows
										.top
											.arrow
										.bottom
											.arrow(style="opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);")
										<svg version="1.1" viewBox="0 0 260 260"><circle cx="130" cy="130" r="120" style="opacity: 1; stroke-dashoffset: 326px;"></circle></svg>
							.promo-list
								ul
									li.title
										span Схема работы:
									li.icon.active
										i.icon_check-red
										span.text
											span 1. Оставьте заявку
									li.icon
										i.icon_message-red
										span.text
											span 2. Консультация.
											span Выезд на замеры
									li.icon
										i.icon_stone-red
										span.text
											span 3. Подбор природного
											span камня
									li.icon
										i.icon_order-red
										span.text
											span 4. Заключение
											span договора
									li.icon
										i.icon_stone2-red
										span.text
											span 5. Обработка камня
									li.icon
										i.icon_montage-red
										span.text
											span 6. Монтажные работы
						footer.footer.footer_page
							.logo-card(style="opacity: 1;")
								img(src="images/logo.svg", alt="logo")
							.footer-map
								img(src="images/map-bg.jpg", alt="map")
							.footer-logo
								.slider-caption
									h3 Посетите наш офис
									p #[strong В нашем офисном пространстве Вы можете:]
									ul
										li Посмотреть на образцы камня
										li Увидеть примеры наших работ
										li Пообщаться с менеджером
										li Задать любой вопрос
									p  #[strong Или позвоните по телефону:]
									a.phone(href="tel:78124071679") +7 812 407 16 79
								a.back-menu.animated(href="")
									.square-effect
										div(style="transform: matrix(1, 0, 0, 1, 0, 0);")
										div(style="transform: matrix(0, 0, 0, 1, 0, 0);")
									.back-text(style="opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);") &laquo; Назад в меню
								.social-icons
									ul
										li(style="opacity:1;")
											a.facebook(href="", target="_blank", title="facebook")
												<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
												<svg version="1.1" viewBox="0 0 25 25"><circle fill="#27262c" cx="12.5" cy="12.5" r="12.1"></circle><path fill="#FFFFFF" d="M10.7,8.4c0,0.3,0,1.8,0,1.8H9.4v2.3h1.4v6.7h2.8v-6.7h1.9c0,0,0.2-1.1,0.3-2.3c-0.2,0-2.1,0-2.1,0s0-1.3,0-1.5c0-0.2,0.3-0.5,0.6-0.5c0.3,0,0.9,0,1.5,0c0-0.3,0-1.4,0-2.4c-0.8,0-1.7,0-2.1,0C10.7,5.8,10.7,8.1,10.7,8.4z"></path></svg>
										li(style="opacity:1;")
											a.instagram(href="", target="_blank")
												img(src="images/in.png", alt="instagram")
												img(src="images/in.png", alt="instagram")
										li(style="opacity:1;")
											a.vk(href="", target="_blank", title="vk")
												img(src="images/vk.png", alt="vk")
												img(src="images/vk.png", alt="vk")
					//grid
					.grid
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
						span
		//menu
		include _modules/menu
		//toggle menu button
		.btn-toggle.light(style="opacity: 1;visibility: inherit;")
			svg(version="1.1", viewBox="0 0 64 30")
				rect#square-up(stroke-width="2" stroke-dasharray="25,19" stroke-dashoffset="0" x="2" y="2" width="26" height="17" style="stroke-dashoffset: 0px;")
				line#line-up(x1="11" y1="11" x2="64" y2="11" stroke-width="2" stroke-dasharray="53,30" stroke-dashoffset="0" style="stroke-dashoffset: 0px;")
				line#line-bottom(x1="2" y1="28" x2="36" y2="28" stroke-width="2" stroke-dasharray="25,34" stroke-dashoffset="-9" style="stroke-dashoffset: -9px;")
			span Меню
		//logo text
		.logo-title.light(style="opacity: 1;") Granit Group
