extends _layouts/default-temp
block page
	.temp-page.page
		.temp-container
			.temp-page__caption
				span.temp-title UI kit
			hr
			span.temp-title 1. Типографика
			span.temp-title Заголовки
			h1 Heading h1
			span.heading-text (46px, line-height: 1.2; margin-top: 30px; margin-bottom: 20px; font-family: Helios-Bold; color: #000;)
			h2 Heading h2
			span.heading-text (36px, line-height: 1.2; margin-top: 30px; margin-bottom: 20px; font-family: Helios-Bold; color: #000;)
			h3 Heading h3
			span.heading-text (22px, line-height: 1.2; margin-top: 30px; margin-bottom: 20px; font-family: Helios-Bold; color: #000;)
			h4 Heading h4
			span.heading-text (18px, line-height: 1.2; margin-top: 30px; margin-bottom: 20px; font-family: Helios-Bold; color: #000;)
			h5 Heading h5
			span.heading-text (16px, line-height: 1.2; margin-top: 30px; margin-bottom: 20px; font-family: Helios-Bold; color: #000;)
			h6 Heading h6
			span.heading-text (14px, line-height: 1.2; margin-top: 30px; margin-bottom: 20px; font-family: Helios-Bold; color: #000;)
			span.temp-title Text
			p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время
			span.heading-text Основные параметры стандартного шрифта: font-size: 14px, line-height: 1.3;  font-family: "Helios Regular", "Helvetica", "Arial", sans-serif; color: #000;
			hr
			hr
			span.temp-title 1. Пояснения к верстке, по событиям, вопросы
			ul
				li Страницы с логотипом, при скролле на светлый фон логотип убирать класс - .light



