$svg-common 
	background url("../images/spriteSvg.svg") no-repeat

$check-blue
	@extend $svg-common
	background-position 0 0
	width 53.533px
	height 41.229px

$check-brown
	@extend $svg-common
	background-position 0 2.7653938612206845%
	width 53.533px
	height 41.229px

$check-green
	@extend $svg-common
	background-position 0 5.530787722441369%
	width 53.533px
	height 41.229px

$check-red
	@extend $svg-common
	background-position 0 8.296181583662053%
	width 53.533px
	height 41.229px

$check-yell
	@extend $svg-common
	background-position 0 11.061575444882738%
	width 53.533px
	height 41.229px

$message-blue
	@extend $svg-common
	background-position 0 13.939955963015306%
	width 53.619px
	height 53.539px

$message-brown
	@extend $svg-common
	background-position 0 17.52451606779067%
	width 53.619px
	height 53.539px

$message-green
	@extend $svg-common
	background-position 0 21.109076172566034%
	width 53.619px
	height 53.539px

$message-red
	@extend $svg-common
	background-position 0 24.693636277341398%
	width 53.619px
	height 53.539px

$message-yell
	@extend $svg-common
	background-position 0 28.27819638211676%
	width 53.619px
	height 53.539px

$montage-blue
	@extend $svg-common
	background-position 0 31.86102222107169%
	width 53.578px
	height 53.457px

$montage-brown
	@extend $svg-common
	background-position 0 35.44538722094225%
	width 53.578px
	height 53.457px

$montage-green
	@extend $svg-common
	background-position 0 39.02975222081282%
	width 53.578px
	height 53.457px

$montage-red
	@extend $svg-common
	background-position 0 42.61411722068338%
	width 53.578px
	height 53.457px

$montage-yell
	@extend $svg-common
	background-position 0 46.19848222055395%
	width 53.578px
	height 53.457px

$order-blue
	@extend $svg-common
	background-position 0 49.78489605909401%
	width 45.4px
	height 53.519px

$order-brown
	@extend $svg-common
	background-position 0 53.36940857534878%
	width 45.4px
	height 53.519px

$order-green
	@extend $svg-common
	background-position 0 56.95392109160355%
	width 45.4px
	height 53.519px

$order-red
	@extend $svg-common
	background-position 0 60.538433607858316%
	width 45.4px
	height 53.519px

$order-yell
	@extend $svg-common
	background-position 0 64.12294612411308%
	width 45.4px
	height 53.519px

$stone-blue
	@extend $svg-common
	background-position 0 67.70273983695587%
	width 53.558px
	height 53.414px

$stone-brown
	@extend $svg-common
	background-position 0 71.28700253420648%
	width 53.558px
	height 53.414px

$stone-green
	@extend $svg-common
	background-position 0 74.87126523145709%
	width 53.558px
	height 53.414px

$stone-red
	@extend $svg-common
	background-position 0 78.45552792870768%
	width 53.558px
	height 53.414px

$stone-yell
	@extend $svg-common
	background-position 0 82.03979062595829%
	width 53.558px
	height 53.414px

$stone2-blue
	@extend $svg-common
	background-position 0 85.62649721913016%
	width 53.657px
	height 53.457px

$stone2-brown
	@extend $svg-common
	background-position 0 89.21086221900073%
	width 53.657px
	height 53.457px

$stone2-green
	@extend $svg-common
	background-position 0 92.79522721887129%
	width 53.657px
	height 53.457px

$stone2-red
	@extend $svg-common
	background-position 0 96.37959221874185%
	width 53.657px
	height 53.457px

$stone2-yell
	@extend $svg-common
	background-position 0 99.96395721861242%
	width 53.657px
	height 53.457px

