include ../_helpers/variables
include ../_helpers/mixins
doctype html
html(class="no-js mobile", lang="ru")
    include ../_partials/head
    body
        include ../_partials/body
        //Scripts
        block scripts
            include ../_partials/scripts