.menu
	.square.square_info
		.square__block
			div
			div
			div
			div
		.square__info-text
			p Санкт-Петербург, Белоостровская ул. 8,
			p БЦ «Ильич», офис 1121 (Пн-Пт: 10:00–18:00)
			p телефон:  #[a(href="tel:78124071679") +7 812 407 16 79]
			p почта: #[a(href="mailto:sale@granit-group.ru") sale@granit-group.ru]
	.square.square_about
		.square__block
			div
			div
			div
			div
		h3.square__title О нас
	.square.square_company
		.square__block
			div
			div
			div
			div
		h3.square__title Компания в лицах
	.square.square_portfolio.active
		.square__block
			div
			div
			div
			div
		h3.square__title Портфолио и услуги
	.square.square_delivery
		.square__block
			div
			div
			div
			div
		h3.square__title Оплата и доставка
	.square.square_history
		.square__block
			div
			div
			div
			div
		h3.square__title История
	.square.square_guarantee
		.square__block
			div
			div
			div
			div
		h3.square__title Гарантия
	.menu__selector
		span.divider
		span.title Камнеобрабатывающее предприятие
	.menu__close
		span
		span
	a.signature(href="#") Дизайн
